<%= form_for @article do |f| %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :content %><br>
  <%= f.text_area :content, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :rating %>
  <%= f.number_field :rating, max:5, min:0 %>
</div>
  <%= f.submit %>
<% end %>
